/*App.css is great for global styling - styles that will apply for the entire app*/

.App {
  text-align: center;
}

/*We can set a global background image like this*/
body{
  background-image: url("../public/RickAndMorty.png");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 20%;
}